<mat-tab-group color="warn" mat-align-tabs="start" *ngIf="host">
    <mat-tab label="Allgemein">
        <div class="body">
            <h2>{{ host.name }}</h2>
            
            <mat-slide-toggle class="toggle" [(ngModel)]="host.active">Aktiv</mat-slide-toggle>
        
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput type="text" [(ngModel)]="host.name">
            </mat-form-field>
        
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Hostname</mat-label>
                <input matInput type="text" [(ngModel)]="host.hostname">
            </mat-form-field>
        
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>SSH-Port</mat-label>
                <input matInput type="number" [(ngModel)]="host.port">
            </mat-form-field>
        
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput type="text" [(ngModel)]="host.username">
            </mat-form-field>
        
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Private Key</mat-label>
                <input matInput type="password" autocomplete="false" [(ngModel)]="host.identity">
            </mat-form-field>
        
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Kommentar</mat-label>
                <input matInput type="text" [(ngModel)]="host.comment">
            </mat-form-field>
        
            <button mat-icon-button color="primary" (click)="this.location.back()"><mat-icon>arrow_back</mat-icon></button>
            <button mat-icon-button color="primary" (click)="save()"><mat-icon>save</mat-icon></button>      
            <button mat-icon-button color="primary" *ngIf="host._id" (click)="delete()"><mat-icon>delete</mat-icon></button>      
        </div>
    </mat-tab>
    <mat-tab label="Ports">
        <app-port-list [host]="host"></app-port-list>
    </mat-tab>
    <mat-tab label="Setup Guide">
        <div class="body">
            
        </div>
    </mat-tab>
</mat-tab-group>
