<mat-card class="card">
    <div class="header">
        <mat-icon class="active" *ngIf="host.active">check_circle</mat-icon>
        <mat-icon class="inactive" *ngIf="!host.active">cancel</mat-icon>
        <h3>{{ host.name }}</h3>
        <button mat-icon-button class="edit" (click)="edit()"><mat-icon>edit</mat-icon></button>
    </div>

    <div class="details">
        <table>
            <tr>
                <td>
                    Hostname:
                </td>
                <td>
                    {{ host.hostname }}
                </td>
            </tr>
            <tr>
                <td>
                    Username:
                </td>
                <td>
                    {{ host.username }}
                </td>
            </tr>
        </table>        
    </div>

    <div class="ports">
        <h4>Ports:</h4>
        <div class="port" *ngFor="let port of host.ports; let last = last">
            <mat-icon>bookmark_border</mat-icon> {{ port.name }}<br>
            <mat-icon>cloud_queue</mat-icon> {{ host.hostname }}:{{ port.remotePort }}<br>
            <mat-icon>subdirectory_arrow_right</mat-icon> {{ port.localHostname }}:{{ port.localPort }}

            <hr *ngIf="!last">
        </div>
    </div>
</mat-card>